<p style="color: green"><%= notice %></p>

<h1>Plans</h1>

<div id="plans" class="flex">
  <% @plans.each do |plan| %>
    <div>
      <%= render plan %>
       <div class="">
          <button class="btn btn-primary text-[18px]"><%= link_to "Show this plan", plan %></button>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New plan", new_plan_path %>
